.primaryButton,
.secondaryButton{
    padding: 6px 15px !important;
    font-size: 14px !important;
    text-transform:none !important;
    border-radius:5px;
}


.primaryButton{
  box-shadow: 0 1px 3px rgba(16,24,40,0.06);
  width: max-content;
}

.secondaryButton{
  border-color: rgba(229, 57, 53, 0.85);
  color: var(--danger);
}